.modal__base {
  top: 5%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
  outline: none;
  border-radius: 0.4rem;
}

.modal__base--after-open {
  opacity: 1;
  transform: scale(1);
}

.modal__base--before-close {
  transform: scale(.2);
  opacity: 0;
}

.overlay__base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 66, 66, .5);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.overlay__base--after-open {
  opacity: 1;
}

.overlay__base--before-close {
  opacity: 0;
}

.classflow__text {
  line-height: 1.4;
}

.close {
  background: #fad05a;
  padding: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.6rem;
}

.button__wrapper {
  display: flex;
  justify-content: center; 
}